<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="~/lib/bootstrap/dist/css/styles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/FundManager.css" rel="stylesheet" />
    @RenderSection("Style", required: false)
    <title>@ViewBag.Title</title>
</head>
<body class="bg-secondBackground">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <!-- Navbard Header -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                        <!-- Logo-->
                        <a class="navbar-brand" asp-controller="Dashboard" asp-action="Dashboard"><img class="Logo" src="~/Logo/ABC_LOGO.png" alt="Logo"></a>
                        <!-- Navbar Toggler Icon -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active px-3">
                                    <a class="nav-link" asp-controller="Dashboard" asp-action="Dashboard">Dashboard<span class="sr-only">(current)</span></a>Need to fix this
                                </li>
                                
                                <li class="nav-item dropdown px-3">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Fund
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/fund/createNewFund">Create New Fund</a>
                                        <a class="dropdown-item" href="/fund/editFund">Edit Funds</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown px-3">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Investor
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/investor/listOfInvestor">Lists of Investors</a>
                                        <a class="dropdown-item" href="/investor/createNewInvestor">Create New Investor</a>
                                        <a class="dropdown-item" href="/investor/editInvestorDetails">Edit Investor Details</a>
                                    </div>
                                </li>

                                <li class="nav-item px-3">
                                    <a class="nav-link" asp-controller="Profile" asp-action="Profile">Profile</a>
                                </li>

                                <li class="nav-item px-3">
                                    <a class="nav-link" asp-controller="Login" asp-action="Logout">Logout</a>
                                </li>

                            </ul>

                        </div>
                    </div> <!-- Nav Bar Container-->
                </nav>
                @RenderBody()
            </main>
        </div>
        <!-- Footer-->
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-5">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; FundManager Application 2020</div>

                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
