<!-- Edit Fund Header-->
<div class="container">
    <div class="row>">
        <h4 class="pt-4">Edit Fund</h4>
        <hr>
        <!-- Funds Selection -->
        <h5 class="mt-4">Fund Name</h5>
        <select class="browser-default custom-select">
            <option id="selectFund" selected>Select Funds</option>
            <option value="Prestige">ABC Prestige</option>
            <option value="Global">ABC Global</option>
        </select>
    </div>

    <h5 class="mt-4">Share Details</h5>
    <hr>
</div>
<!-- Fund Details Table -->
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>SHARE NAME</th>
                        <th>ISIN</th>
                        <th>SHARE ALLOCATION%</th>
                        <th>INPUT NEW SHARE ALLOCATION</th>


                    </tr>
                </thead>
                <form>
                    <tbody>
                        <tr id="d1">
                            <td>1</td>
                            <td id="f1">DBS</td>
                            <td id="l1">D05.SI</td>
                            <td id="m1">20%</td>

                            <td><input type="text" id="inputAllocation2" placeholder="Enter New Allocation" class="form-control"></td>



                        </tr>
                        <tr id="d2">
                            <td>2</td>
                            <td id="f2">Singtel</td>
                            <td id="l2">Z74.SI</td>
                            <td id="m2">5%</td>
                            <td><input type="text" id="inputAllocation2" placeholder="Enter New Allocation" class="form-control"></td>

                        </tr>
                    </tbody>
                </form>
            </table>
        </div>
    </div>
    <!-- Go Button -->
    <div class="form-group d-flex justify-content-center mt-5 mb-5">
        <button onclick="updateFundAllocation();" class="btn btn-success btn-block-success-secondary"> Update!</button>
    </div>
</div>