@using FundManagementApplication.Utilities

@model FundViewModel

@section Scripts{
    <script type="text/javascript">
        $('#fundDropdown').on('change', function displayStock() {
            var fundId = this.value;
            toggleButtons(fundId);
            if (fundId === "") {
                $('#stocksList').html("");
                return;
            }
            $.ajax({
                type: "GET",
                url: "/fund/displaystock",
                data: { 'fundId': fundId },
                dataType: "json",
                success: function (json) {
                    $.each(json, function () {
                        $('#stocksList').append(
                            $(`<tr>
                               <td>${this.name}</td>
                               <td>${this.ticker}</td>
                               <td id="${this.ticker}"><input type="number" placeholder="Enter New Allocation" value=${this.weight * 100} class="form-control"></td>
                               <td><button type="button" class="btn btn-danger">Delete</button></td>
                               </tr>`)
                        );
                    });
                    //Add click listener
                    $('#stocksList').on("click", "button", function () {
                        $(this).parentsUntil($('#stocksList')).remove();
                    });
                }
            });
        });

        //Update stock list
        $('#updateStockList').on('click', function updateStock(e) {
            e.preventDefault();
            console.log($('td input').serialize());
            //$.ajax({
            //    type: "POST",
            //    url: "/fund/updatestock",
            //});
        });

        //Add stock button
        $('#addStock').on('click', function addStock(e) {
            e.preventDefault();
            $('#stocksList').append(
                $(`<tr>
                   <td><input type="text" placeholder="Enter Share Name" value="" class="form-control"></td>
                   <td><input type="text" placeholder="Enter Stock Ticker" value="" class="form-control"></td>
                   <td><input type="number" placeholder="Enter New Allocation" value=0 class="form-control"></td>
                   <td><button type="button" class="btn btn-danger">Delete</button></td>
                   </tr>`)
            );
        });

        function toggleButtons(fundId) {
            $('#addStock').prop('disabled', fundId === "");
            $('#updateStockList').prop('disabled', fundId === "");
        }
    </script>
}

<!-- Edit Fund Header-->
<div class="container">
    <div class="row>">
        <h4 class="pt-4">Edit Fund</h4>
        <hr>
        <!-- Funds Selection -->
        <h5 class="mt-4">Fund Name</h5>
        <select class="browser-default custom-select" id="fundDropdown" asp-items=Model.Funds>
            <option id="selectFund" value="" selected>Select Funds</option>
        </select>
    </div>
    <h5 class="mt-4">Share Details</h5>
    <hr>
</div>
<!-- Fund Details Table -->
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>SHARE NAME</th>
                        <th>TICKER</th>
                        <th>SHARE ALLOCATION %</th>
                    </tr>
                </thead>
                <tbody id="stocksList">
                </tbody>
            </table>
        </div>
    </div>
    <!-- Go Button -->
    <div class="form-group d-flex justify-content-center mt-5 mb-5">
        <!-- Add Button -->
        <button type="button" id="addStock" class="btn btn-success btn-block-success-secondary mx-5" disabled>Add Stock</button>
        <!-- Go Button -->
        <button type="button" id="updateStockList" class="btn btn-success btn-block-success-secondary mx-5" disabled>Update</button>
    </div>
</div>
