@using FundManagementApplication.Utilities

@model FundViewModel

@section Scripts{
    <script type="text/javascript">
        $('#fundDropdown').on('change', function displayStock() {
            var fundId = this.value;
            toggleButtons(fundId);
            if (fundId === "") {
                $('#stocksList').html("");
                return;
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("DisplayStock", "Fund")",
                data: { 'fundId': fundId },
                dataType: "json",
                success: function (json) {
                    $.each(json, function () {
                        $('#stocksList').append(
                            $(`<tr>
                               <td>${this.name}</td>
                               <td>${this.ticker}</td>
                               <td id="${this.ticker}"><input type="number" placeholder="Enter New Allocation" value=${this.weight * 100} class="form-control"></td>
                               <td><button type="button" class="btn btn-danger">Delete</button></td>
                               </tr>`)
                        );
                    });
                    //Add click listener
                    $('#stocksList').on("click", "button", function () {
                        $(this).parentsUntil($('#stocksList')).remove();
                    });
                }
            });
        });

        //Update stock list
        $('#updateStockList').on('click', function updateStock(e) {
            e.preventDefault();

            var tbl = $('#stocksList tr').map(function (idxRow, ele) {
                //
                // start building the retVal object
                //
                var retVal = { };
                //
                // for each cell
                //
                var $td = $(ele).find('td').map(function (idxCell, ele) {
                    var input = $(ele).find(':input');
                    var button = $(ele).find(':button');
                    // continue if cell contains a button
                    if (button.length == 1) return;
                    //
                    // if cell contains an input or select....
                    //
                    if (input.length == 1) {
                        var attr = $('#stockTable thead tr th').eq(idxCell).text();
                        attr = attr.replace(/[^A-Z0-9]+/ig, "");
                        retVal[attr] = input.val();
                    } else {
                        var attr = $('#stockTable thead tr th').eq(idxCell).text();
                        attr = attr.replace(/[^A-Z0-9]+/ig, "");
                        retVal[attr] = $(ele).text();
                    }
                    retVal['fundId'] = $('#fundDropdown').val();
                });
                return retVal;
            }).get();

            console.log(tbl);
            console.log($('input[name="CSRF-TOKEN-ABC-FORM"]').val());
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateStockList", "Fund")",
                data: JSON.stringify(tbl),
                contentType: "application/json; charset=utf-8",
                headers: {
                    "CSRF-TOKEN-ABC": $('input[name="CSRF-TOKEN-ABC-FORM"]').val()
                },
                dataType: "json",
                success: function (json) {
                    console.log(json);
                }
            });
        });

        //Add stock button
        $('#addStock').on('click', function addStock(e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetStaticStockList", "Fund")",
                data: $('#fundDropdown').val(),
                dataType: "json",
                success: function (json) {
                    console.log(json);
                    var htmlString = '<tr><td><select id="stockDropdown" class="browser-default custom-select"><option value="">Select Stock</option>';
                    $.each(json, function () {
                        htmlString += '<option value ="'+this.ticker+'">'+this.shareName+'</option>';
                    });
                    //Close options
                    htmlString += '</select></td><td><input id="stockTicker" type="text" class="form-control" readonly></td>'
                        + '<td><input type="number" placeholder="Enter New Allocation" value=0 class="form-control"></td>'
                        + '<td><button type="button" class="btn btn-danger">Delete</button></td></tr>';

                    $('#stocksList').append(htmlString);
                    //Change ticker field according to selected stock
                    $('#stocksList').on("change", "select", function () {
                        $('#stockTicker').val(this.value); 
                    });
                }
            });
        });

        function toggleButtons(fundId) {
            $('#addStock').prop('disabled', fundId === "");
            $('#updateStockList').prop('disabled', fundId === "");
        }
    </script>
}

<!-- Edit Fund Header-->
<div class="container">
    <div class="row>">
        <h4 class="pt-4">Edit Fund</h4>
        <hr>
        <!-- Funds Selection -->
        <h5 class="mt-4">Fund Name</h5>
        <select class="browser-default custom-select" id="fundDropdown" asp-items=Model.Funds>
            <option value="" selected>Select Funds</option>
        </select>
    </div>
    <h5 class="mt-4">Share Details</h5>
    <hr>
</div>
<!-- Fund Details Table -->
@Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table id="stockTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>SHARE NAME</th>
                        <th>TICKER</th>
                        <th>SHARE ALLOCATION %</th>
                    </tr>
                </thead>
                <tbody id="stocksList">
                </tbody>
            </table>
        </div>
    </div>
    <!-- Go Button -->
    <div class="form-group d-flex justify-content-center mt-5 mb-5">
        <!-- Add Button -->
        <button type="button" id="addStock" class="btn btn-success btn-block-success-secondary mx-5" disabled>Add Stock</button>
        <!-- Go Button -->
        <button type="button" id="updateStockList" class="btn btn-success btn-block-success-secondary mx-5" disabled>Update</button>
    </div>
</div>
