@model InvestorViewModel

<!-- Create New Fund Header -->
<div class="container">
    <div class="row>">
        <h4 class="pt-4">Create New Investor</h4>
        <hr>
        <!-- Investor Name-->

        <form>
            <h5 class="mt-2">Fund Type</h5>
            <select class="browser-default custom-select">
                <option id="selectFund" selected>Select Funds</option>
                <option value="Prestige">ABC Prestige</option>
                <option value="Global">ABC Global</option>
            </select>
            <h5 class="mt-2">Investor Name</h5>
            <input class="form-control py-4" id="inputInvestorName" type="text" placeholder="Enter Investor Name" asp-for="newInvestorName" />
            <h5 class="mt-2">Investor Email Address</h5>
            <input class="form-control py-4" id="inputInvestorEmail" type="email" placeholder="Enter email address" asp-for="newInvestorEmail" />

            <div class="form-group d-flex justify-content-center mt-5 mb-5">
                <button onclick="createNewInvestor();" class="btn btn-success btn-block-success-secondary"> Create</button>
            </div>
        </form>

    </div>
</div>