@model InvestorViewModel

<!-- Edit Investor Header -->
<div class="container">
    <div class="row>">
        <h4 class="pt-4">Edit Investor</h4>
        <hr>
        <!-- Current Investor Details-->

        <form>
            <h5 class="mt-2">Current Investor Details</h5>

            <div class="form-group row mt-2">
                <label for="currentInvestorID" class="col-sm-2 col-form-label"> Investor ID: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="currentInvestorID" value="G01">
                </div>

                <label for="currentInvestorName" class="col-sm-2 col-form-label"> Investor Name: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="currentInvestorName" value="James Sandick">
                </div>

                <label for="currentInvestorEmail" class="col-sm-2 col-form-label"> Investor Email: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="currentInvestorEmail" value="James@live.com">
                </div>

                <label for="currentInvestorName" class="col-sm-2 col-form-label"> Fund Type: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="currentInvestorFund" value="ABC Prestige">
                </div>
            </div>
            <hr>
            <!-- New Investor Details-->
            <h5 class="mt-2">New Investor Details</h5>

            <div class="form-group row mt-2">
                <label for="inputNewFundType" class="col-sm-2 col-form-label mb-3">Fund Type: </label>
                <div class="col-sm-10">
                    <select class="browser-default custom-select mb-3">
                        <option id="selectFund" selected>Select New Funds</option>
                        <option value="Prestige">ABC Prestige</option>
                        <option value="Global">ABC Global</option>
                    </select>
                </div>

                <label for="inputNewInvestorName" class="col-sm-2 col-form-label mb-3s">Investor Name</label>
                <div class="col-sm-10">
                    <input class="form-control mb-3" id="newInvestorName" type="text" placeholder="New Investor Name" asp-for="newInvestorName">
                </div>

                <label for="inputNewInvestorEmail" class="col-sm-2 col-form-label">Investor Email</label>
                <div class="col-sm-10">
                    <input class="form-control" id="newInvestorEmail" type="email" placeholder="New Investor Email" asp-for="newInvestorEmail">
                </div>
            </div>


            <div class="form-group d-flex justify-content-center mt-5 mb-5">
                <a href="/investor/listOfInvestor" class="btn btn-danger btn-block-danger-secondary mx-5" role="button">Cancel</a>
                <button onclick="UpdateInvestor();" class="btn btn-success btn-block-success-secondary mx-5"> Update</button>
            </div>
        </form>
    </div>
</div><!-- End of Container -->