@model FundManagementApplication.ViewModels.ResetPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>ABC Fund Manager Application</title>
    <link href="~/lib/bootstrap/dist/css/styles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/FundManager.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/ValidationStyle.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <!-- Navbard Header -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                        <a class="navbar-brand" href="/login/login"><img class="Logo" src="~/Logo/ABC_LOGO.png" alt="Logo"></a>
                </nav>

                <!-- Password ResetForm-->
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 mt-5">
                                <div class="card-header"><h3 class="text-left font-weight-bold my-3 Header">Password Recovery</h3></div>
                                <div class="card-body">
                                    <p>Please enter your email address and we will send you a link to reset your password.</p>
                                    <form asp-controller="Login" asp-action="ResetPassword" method="post">
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputEmailAddress">Email</label>
                                            <input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Enter email address" asp-for="Email" />
                                            <span asp-validation-for="Email" class="small text-danger"></span>
                                            <div asp-validation-summary="ModelOnly" class="small validation-summary-errors"></div>
                                        </div>
                                        <div class="form-group d-flex  justify-content-center mt-5 mb-4">
                                            <button class="btn btn-primary btn-block-primary">Reset Password</button>
                                        </div>
                                        <a class="form-group d-flex  justify-content-center" asp-controller="Login" asp-action="Login">Return to Login</a>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-5">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; FundManager Application 2020</div>

                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>
</html>

