@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

@model FundManagementApplication.Models.DashboardViewModel

<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Fund Manager Application</title>
    <link href="~/lib/bootstrap/dist/css/styles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/FundManager.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/DatePicker.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script type='text/javascript'>
    $(document).ready(function () {

            $('.input-daterange').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                calendarWeeks: true,
                clearBtn: true,
                disableTouchKeyboard: true
            });

        });</script>
</head>
<body class="bg-secondBackground">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <!-- Navbard Header -->

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                        <!-- Logo-->
                        <a class="navbar-brand" href="/home/index"><img class="Logo" src="~/Logo/ABC_LOGO.png" alt="Logo"></a>
                        <!-- Navbar Toggler Icon -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active px-3">
                                    <a class="nav-link" href="/home/index">Dashboard<span class="sr-only">(current)</span></a>
                                </li>

                                <li class="nav-item dropdown px-3">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Fund
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/fund/createNewFund">Create New Fund</a>
                                        <a class="dropdown-item" href="/fund/editFund">Edit Funds</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown px-3">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Investor
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/investor/listOfInvestor">Lists of Investors</a>
                                        <a class="dropdown-item" href="/investor/createNewInvestor">Create New Investor</a>
                                        <a class="dropdown-item" href="/investor/editInvestorDetails">Edit Investor Details</a>
                                    </div>
                                </li>

                                <li class="nav-item px-3">
                                    <a class="nav-link" href="/home/profile">Profile</a>
                                </li>

                                <li class="nav-item px-3">
                                    <a class="nav-link" asp-controller="Login" asp-action="Logout">Logout</a>
                                </li>

                            </ul>

                        </div>
                    </div> <!-- Nav Bar Container-->
                </nav>

                <!-- Dashboard -->
                <div class="container">
                    <form autocomplete="off">
                        <div class="row>">
                            <h4 class="pt-4">Dashboard</h4>
                            <hr>
                            <!-- Funds Selection -->
                            <h5 class="mt-4">Fund Name</h5>
                            <select class="browser-default custom-select">
                                <option id="selectFund" selected>Select Funds</option>
                                <option value="Prestige">ABC Prestige</option>
                                <option value="Global">ABC Global</option>
                            </select>
                        </div>
                        <div class="row mt-5">
                            <!-- Date Range Input - Fund End Date-->
                            <div class="input-group input-daterange col-sm-4 ">
                                <input type="text" id="fundEndDate" class="form-control text-left " asp-for="DateSelect">
                                <label class="ml-0 form-control-placeholder" id="fundEndDateLabel">Select Date Range</label>
                                <span class="fa fa-calendar" id="fa-2" aria-hidden="true"></span>

                            </div>
                        </div>
                        <div class="form-group d-flex  justify-content-left mt-4 mb-4">
                            <button class="btn btn-invert btn-block-invert" asp-controller="home" asp-action="search" formmethod="post">Search</button>
                        </div>
                    </form>
                </div> <!-- Date Range Container-->
                <!-- Fund Oveview -->
                <div class="container pt-2">
                    <div class="row>">
                        <h5 class="mb-2">Fund Overview</h5>
                        <hr>
                    </div>
                    <!-- Fund NAV Card -->
                    <div class="row mt-4 mb-5">
                        <div class="col-xl-3 col-lg-3 col-sm-6 ">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="card-title text-uppercase mb-2">Fund Nav</h6>
                                            <span class="h6 font-weight-bold mb-0" id="fundNav">@Model.FundNav</span>

                                        </div>
                                        <div class="col-auto">
                                            <!-- Fund NAV Icon -->
                                            <i class="fa fa-chart-bar" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Bid - Bid Card -->
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="card-title text-uppercase mb-2">Bid-Bid</h6>
                                            <span class="h5 font-weight-bold mb-0" id="bidToBid">@Model.BidBid</span>
                                        </div>
                                        <div class="col-auto">
                                            <!-- Bid-Bid Icon -->
                                            <i class="fas fa-chart-pie" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Bid - Offer Card -->
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="card-title text-uppercase mb-2">Bid-Offer</h6>
                                            <span class="h5 font-weight-bold mb-0" id="bidToOffer">@Model.BidOffer</span>
                                        </div>
                                        <div class="col-auto">
                                            <!-- Bid - Offer Icon -->
                                            <i class="fas fa-users" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Benchmark Card -->
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="card-title text-uppercase mb-2">
                                                Benchmark
                                            </h6>
                                            <span class="h5 font-weight-bold mb-0" id="benchMark">@Model.BenchMark</span>
                                        </div>
                                        <div class="col-auto">
                                            <!-- Benchmark Icon -->
                                            <i class="fas fa-percent"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Select option for fundfact sheet-->
                    <div class="row>">
                        <hr>
                        <h5 class="mb-4">Select Fund Factsheet Action</h5>
                    </div>

                    <!-- Funds Selection -->

                    <div class="row">
                        <div class="form-check form-check-inline col-xl-3 col-xs-2 ml-2">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" asp-for="SelectAction">
                            <label class="form-check-label" for="inlineRadio1">Send Factsheet</label>
                        </div>
                        <div class="form-check form-check-inline col-xl-3 ml-2">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2" asp-for="SelectAction">
                            <label class="form-check-label" for="inlineRadio2">Download Factsheet</label>
                        </div>
                        <div class="form-check form-check-inline col-xl-3 ml-2">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3" asp-for="SelectAction">
                            <label class="form-check-label" for="inlineRadio3">Preview Factsheet</label>
                        </div>

                    </div>

                    <!-- Go Button -->
                    <div class="form-group d-flex justify-content-left mt-5 mb-5">
                        <button onclick="factSheetFunction();" class="btn btn-success btn-block-success-secondary"> Go!</button>
                    </div>
                </div> <!-- Fund Oveview Container-->






            </main>
        </div>
        <!-- Footer-->
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-5">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; FundManager Application 2020</div>

                    </div>
                </div>
            </footer>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>
</html>

